* {
  box-sizing: border-box;
}



body {
  margin: 0;
  font-family: Arial;
  font-size: 17px;

  height: 100vh;
  
  overflow: hidden; 
}

h1{
  color:white
}

h2{
  color:white
}

#myVideo {
  position: fixed;
  top: 0; 
  left: 0; 
  min-width: 100%;
  min-height: 100%;
  width: auto; 
  height: auto; 
  object-fit: cover;

  z-index: -1; 
}

.content {

  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 10;
 
  background: rgba(0, 0, 0, 0.2); 
}


#myImage {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  
  margin-bottom: 20px; 
}

#myImage:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}


#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  position: center;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}

#myBtn2 {
            position: fixed;
            top: 0;
            left: 0;
            margin: 0; /* Ensures no default margins interfere */
            padding: 10px; /* Adjust as needed */
            z-index: 1000;
            color: #fff;
        }

#myBtn2:hover {
  background: #ddd;
  color: black;
}

